<h1 id="heading">mTrello</h1>



 <div class="list_board js-sortable-lists"> 
  <% all_lists.each_with_index do |list, index| %>
    <%= erb :"shared/_list.html", locals: {list: list, index: index} %>
  <% end %>
  
 </div> 

<form action="add-list" method="post">
  <button type="submit">Add new list</button>
  <input type="text" name="new_list_name">
  <input type="hidden" name="new_id" value="<%= new_id %>">
</form>











<!-- Need to render a new list here  -->

<!-- list 2  -->

