<html>
  <head>
    <title>mTrello</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/sorting.css">
    <!--Put new file here so when we remove the javascript, we can delete it. Make it separated  -->
  </head>
  <body style="background-color: rgb(0, 121, 191)">
    <div class="light-controller">
      
    
    <%= yield %>

    <!-- putting all js files at the bottom of body -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/html.sortable.js"></script>
    <script src="js/app.js"></script>
    <script src="js/test.js"></script>
    </div>
  </body>
</html>