<body>
    

<h1 class="test_ajax">
    <form action="/test_ajax" method="post">
        <button class="test_button" type="submit">Submit</button>
        <input type="text" name="test">
        
    </form>
</h1>
</body>